*{
    margin: 0;
    padding: 0;
}
.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.mode{
    font-family: "roboto", sans-serif;
    color: black;
    border-radius: 2vw;
    width: 22.5vw;
    height: 85.5vh;
    float: left;
}
.flx-text{
    display: flex;
    flex-direction: column;
    width: 22.5vw;
    height: 85.5vh;
    align-items: center;
    justify-content: center;
    position: relative;
}
.mode-classic{
    background: #3881fd;
}
.mode-classic:hover{
    background: #136bfc;
}
.mode-5{
    background: #f14f4f;
}
.mode-5:hover{
    background: #cb3c3c;
}
.mode-timed{
    background: #2cc145;
}
.mode-timed:hover{
    background: #28a53f;
}
.mode-battle{
    background: #f5fb3c;
}
.mode-battle:hover{
    background: #dce22d;
}
.margin{
    width: 2vw;
}
.txt-center{
    font-weight: bold;
    font-size: 3.3em;
}
.txt-info{
    position: absolute;
    display: inline-block;
    bottom: .8vh;
    padding-left: .7vh;
    font-size: .7em;
    margin-left: 1vw;
    width: 17vw;
}
.info{
    position: absolute;
    bottom: .8vh;
    margin-left: 1vw;
    display: inline-block;
    width: 22.5vw;
}
#info-logo{
    display: inline-block;
    width: 2.2em;
    transition: all 0.3s ease-in-out 0s;
}
#info-logo:hover{
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
}
#txt-1{
    opacity: 0;
    transition: .3s ease;
}
#txt-2{
    opacity: 0;
    transition: .3s ease;
}
#txt-3{
    opacity: 0;
    transition: .3s ease;
}
#txt-4{
    opacity: 0;
    transition: .3s ease;
}
#info-logo:hover ~#txt-1{
    opacity: 1;
}
#info-logo:hover ~#txt-2{
    opacity: 1;
}
#info-logo:hover ~#txt-3{
    opacity: 1;
}
#info-logo:hover ~#txt-4{
    opacity: 1;
}
.rules{
    margin-top: 2vh;
    padding: 2vw;
    font-family: "roboto", sans-serif;
    color: black;
}
h2.rules{
    padding: 0;
    font-size: 2em;
}
.rule-text{
    padding: 0;
    font-size: 1em;
    margin-left: 2vw;
    margin-top: 1.5vh;
    line-height: 150%;
    color: #7d7d7d;
}